.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    color: white;
}

thead {
    background-color: #C4C4C4;
}
table{
    color: black;
    border-color: black 1px solid;
}

.table-layout {
    align-items: center !important;
}